

<div class="table-responsive margin_top" >
    <div id="tableSimple" class="col-lg-12 col-12 layout-spacing" >
        <div class="statbox widget box box-shadow ">
            <div class="widget-content widget-content-area" >
                <div class="table-responsive" style="overflow-x: hidden;">
                    <!-- #plancreateform = "ngForm" (ngSubmit) = "onSubmit(plancreateform)" -->
                    <img src="../../../assets/bg.jpg" style="height: 900px;" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
