<div class="table-responsive margin_top">
    <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-8 col-md-8 col-sm-8 col-8">
                        <h4 class="margin_spacing">Create Feedback</h4>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-4">
                        <div class="text-center">

                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <!-- #plancreateform = "ngForm" (ngSubmit) = "onSubmit(plancreateform)" -->
                    <form #bookscreateform = "ngForm" (ngSubmit) = "onSubmit(bookscreateform)">
                        <div class="container">
                            <div class="form-row ">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Name</label>
                                    <input type="text" ngModel name='name' class="form-control" id="inputEmail4" placeholder="Enter Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="text" ngModel name="email" class="form-control" id="inputEmail4" placeholder="Enter Email"required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputEmail4">Feedback</label>
                                    <textarea ngModel name="feedback" class="form-control" id="inputEmail4" placeholder="Enter Feedback" required> </textarea>
                                </div>
                                
               
                                <div class="form-group mt-3  d-flex justify-content-end  col-md-12">
                                    <button class="btn btn-primary    mr-2">Add Feedback</button>
                                    <button class="btn btn-danger   mr-2">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ 
    backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }" [template]="customLoadingTemplate">
</ngx-loading>
  
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
            <h3>
                Loading...
            </h3>
    
        </div>
    </ng-template>